In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel(r'C:\Users\badri\OneDrive\Desktop\Retail Data Analysis\Data__Files\online_retail_II.xlsx')

In [4]:
df.describe()

,Quantity,InvoiceDate,Price,Customer ID
count,525461.000000,525461,525461.000000,417534.000000
mean,10.337667,2010-06-28 11:37:36.845017856,4.688834,15360.645478
min,-9600.000000,2009-12-01 07:45:00,-53594.360000,12346.000000
25%,1.000000,2010-03-21 12:20:00,1.250000,13983.000000
50%,3.000000,2010-07-06 09:51:00,2.100000,15311.000000
75%,10.000000,2010-10-15 12:45:00,4.210000,16799.000000
max,19152.000000,2010-12-09 20:01:00,25111.090000,18287.000000
std,107.424110,NaN,146.126914,1680.811316

In [5]:
df.dtypes

Invoice                object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
Price                 float64
Customer ID           float64
Country                object
dtype: object

## Converting Customer ID to Object data type

#### We have observed from the above description of the dataset that the dataset has customer ID which is supposed to be a object type is in float type. We will be converting it into object type so that in future analysis it becomes easy for us to group by and perform aggregation operations easily

In [6]:
df['Customer ID'] = df['Customer ID'].apply(lambda x: str(x).split('.')[0])

In [7]:
df.head(10)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085,United Kingdom
5,489434,22064,PINK DOUGHNUT TRINKET POT,24,2009-12-01 07:45:00,1.65,13085,United Kingdom
6,489434,21871,SAVE THE PLANET MUG,24,2009-12-01 07:45:00,1.25,13085,United Kingdom
7,489434,21523,FANCY FONT HOME SWEET HOME DOORMAT,10,2009-12-01 07:45:00,5.95,13085,United Kingdom
8,489435,22350,CAT BOWL,12,2009-12-01 07:46:00,2.55,13085,United Kingdom
9,489435,22349,"DOG BOWL , CHASING BALL DESIGN",12,2009-12-01 07:46:00,3.75,13085,United Kingdom

#### We have also observed that the Price column has some negative values let us try to investigate into it and check whether is it a regular anamoly or is there anything wrong in that sub-dataset

In [8]:
df[df['Price'] < 0]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
179403,A506401,B,Adjust bad debt,1,2010-04-29 13:36:00,-53594.36,nan,United Kingdom
276274,A516228,B,Adjust bad debt,1,2010-07-19 11:24:00,-44031.79,nan,United Kingdom
403472,A528059,B,Adjust bad debt,1,2010-10-20 12:04:00,-38925.87,nan,United Kingdom

#### There seem to be 3 transactions with negative prices and it looks like these transactions are wrong transactions and can be deleted.

In [9]:
df.drop(df[df['Price'] < 0].index , inplace= True)

In [10]:
df[df['Price'] < 0]

Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country]
Index: []

#### The records which have negative prices have been successfully deleted

#### We have also come across some records with negative quantity since <bold>"Quantity"<bold> has to be whole number we need to take a look at is as to why is the quantity negative.

In [11]:
df[df['Quantity'] < 0].head(5)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
178,C489449,22087,PAPER BUNTING WHITE LACE,-12,2009-12-01 10:33:00,2.95,16321,Australia
179,C489449,85206A,CREAM FELT EASTER EGG BASKET,-6,2009-12-01 10:33:00,1.65,16321,Australia
180,C489449,21895,POTTING SHED SOW 'N' GROW SET,-4,2009-12-01 10:33:00,4.25,16321,Australia
181,C489449,21896,POTTING SHED TWINE,-6,2009-12-01 10:33:00,2.10,16321,Australia
182,C489449,22083,PAPER CHAIN KIT RETRO SPOT,-12,2009-12-01 10:33:00,2.95,16321,Australia

In [12]:
df[df['Quantity'] < 0].shape

(12326, 8)

In [13]:
df[(df['Quantity'] < 0) & (df['Invoice'].astype(str).str.startswith('C') == True)]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
178,C489449,22087,PAPER BUNTING WHITE LACE,-12,2009-12-01 10:33:00,2.95,16321,Australia
179,C489449,85206A,CREAM FELT EASTER EGG BASKET,-6,2009-12-01 10:33:00,1.65,16321,Australia
180,C489449,21895,POTTING SHED SOW 'N' GROW SET,-4,2009-12-01 10:33:00,4.25,16321,Australia
181,C489449,21896,POTTING SHED TWINE,-6,2009-12-01 10:33:00,2.10,16321,Australia
182,C489449,22083,PAPER CHAIN KIT RETRO SPOT,-12,2009-12-01 10:33:00,2.95,16321,Australia
...,...,...,...,...,...,...,...,...
524695,C538123,22956,36 FOIL HEART CAKE CASES,-2,2010-12-09 15:41:00,2.10,12605,Germany
524696,C538124,M,Manual,-4,2010-12-09 15:43:00,0.50,15329,United Kingdom
524697,C538124,22699,ROSES REGENCY TEACUP AND SAUCER,-1,2010-12-09 15:43:00,2.95,15329,United Kingdom
524698,C538124,22423,REGENCY CAKESTAND 3 TIER,-1,2010-12-09 15:43:00,12.75,15329,United Kingdom
525282,C538164,35004B,SET OF 3 BLACK FLYING DUCKS,-1,2010-12-09 17:32:00,1.95,14031,United Kingdom

In [14]:
df[(df['Quantity'] < 0) & (df['Invoice'].astype(str).str.startswith('C') == False)][['Country', 'Customer ID']].value_counts()

Country         Customer ID
United Kingdom  nan            2121
Name: count, dtype: int64

In [15]:
df.drop(df[(df['Quantity'] < 0) & (df['Invoice'].astype(str).str.startswith('C') == False)].index, inplace = True)

In [26]:
df.drop(df[(df['Quantity'] > 0) & (df['Invoice'].astype(str).str.startswith('C') == True)].index , inplace =True)

In [16]:
df[(df['Quantity'] < 0) & (df['Invoice'].astype(str).str.startswith('C') == False)]

Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country]
Index: []

#### The dataset contained system-generated inventory adjustment records identified by negative quantities, missing customer IDs, and non-cancellation invoices. These records do not represent customer transactions and were excluded to ensure accurate sales and customer-level analysis.

In [17]:
df[df['Quantity'] < 0]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
178,C489449,22087,PAPER BUNTING WHITE LACE,-12,2009-12-01 10:33:00,2.95,16321,Australia
179,C489449,85206A,CREAM FELT EASTER EGG BASKET,-6,2009-12-01 10:33:00,1.65,16321,Australia
180,C489449,21895,POTTING SHED SOW 'N' GROW SET,-4,2009-12-01 10:33:00,4.25,16321,Australia
181,C489449,21896,POTTING SHED TWINE,-6,2009-12-01 10:33:00,2.10,16321,Australia
182,C489449,22083,PAPER CHAIN KIT RETRO SPOT,-12,2009-12-01 10:33:00,2.95,16321,Australia
...,...,...,...,...,...,...,...,...
524695,C538123,22956,36 FOIL HEART CAKE CASES,-2,2010-12-09 15:41:00,2.10,12605,Germany
524696,C538124,M,Manual,-4,2010-12-09 15:43:00,0.50,15329,United Kingdom
524697,C538124,22699,ROSES REGENCY TEACUP AND SAUCER,-1,2010-12-09 15:43:00,2.95,15329,United Kingdom
524698,C538124,22423,REGENCY CAKESTAND 3 TIER,-1,2010-12-09 15:43:00,12.75,15329,United Kingdom
525282,C538164,35004B,SET OF 3 BLACK FLYING DUCKS,-1,2010-12-09 17:32:00,1.95,14031,United Kingdom

#### Now basically we only have negative quantities for Orders which are Cancelled that is only those records are present which have the invoice number starting with <bold>'C'<bold> , We are basically these records for further use cases

## Creating a New column for flag which basically indicates whether the Order is cancelled or based on Meta-Data

In [20]:
def FirstLetterStartsWithC(x):
    if str(x).startswith('C'):
        return 'Order Cancelled'
    else:
        return 'Order Not Cancelled'

#df['Order Cancelled Flag'] 
df['Order Cancelled Flag'] = df['Invoice'].apply(FirstLetterStartsWithC)

In [27]:
df[df['Invoice'].str.startswith('C') == True]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Order Cancelled Flag
178,C489449,22087,PAPER BUNTING WHITE LACE,-12,2009-12-01 10:33:00,2.95,16321,Australia,Order Cancelled
179,C489449,85206A,CREAM FELT EASTER EGG BASKET,-6,2009-12-01 10:33:00,1.65,16321,Australia,Order Cancelled
180,C489449,21895,POTTING SHED SOW 'N' GROW SET,-4,2009-12-01 10:33:00,4.25,16321,Australia,Order Cancelled
181,C489449,21896,POTTING SHED TWINE,-6,2009-12-01 10:33:00,2.10,16321,Australia,Order Cancelled
182,C489449,22083,PAPER CHAIN KIT RETRO SPOT,-12,2009-12-01 10:33:00,2.95,16321,Australia,Order Cancelled
...,...,...,...,...,...,...,...,...,...
524695,C538123,22956,36 FOIL HEART CAKE CASES,-2,2010-12-09 15:41:00,2.10,12605,Germany,Order Cancelled
524696,C538124,M,Manual,-4,2010-12-09 15:43:00,0.50,15329,United Kingdom,Order Cancelled
524697,C538124,22699,ROSES REGENCY TEACUP AND SAUCER,-1,2010-12-09 15:43:00,2.95,15329,United Kingdom,Order Cancelled
524698,C538124,22423,REGENCY CAKESTAND 3 TIER,-1,2010-12-09 15:43:00,12.75,15329,United Kingdom,Order Cancelled
525282,C538164,35004B,SET OF 3 BLACK FLYING DUCKS,-1,2010-12-09 17:32:00,1.95,14031,United Kingdom,Order Cancelled

### Now we will be creating a new column called Revenue for the revenue Generated Per Order

In [30]:
df['Revenue'] = df['Price'] * df['Quantity']

In [38]:
df[df['Customer ID'].isna()]

Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Order Cancelled Flag, Revenue]
Index: []

### We will be creating 2 New Datasets one for Cancelled Orders and One for Sales so that it becomes easy when we are calculating the outliers it helps us with furthter analysis.

In [32]:
df_sales = df[df['Quantity'] >= 0]
df_cancelled = df[df['Quantity'] < 0]

In [36]:
df_sales.nunique()
df_sales.describe()

,Quantity,InvoiceDate,Price,Revenue
count,513131.000000,513131,513131.000000,513131.000000
mean,11.715496,2010-06-28 21:19:49.944906752,4.238865,20.084329
min,1.000000,2009-12-01 07:45:00,0.000000,0.000000
25%,1.000000,2010-03-21 15:03:00,1.250000,3.900000
50%,3.000000,2010-07-06 16:26:00,2.100000,10.120000
75%,10.000000,2010-10-15 14:51:00,4.210000,17.700000
max,19152.000000,2010-12-09 20:01:00,25111.090000,25111.090000
std,92.974993,NaN,63.565811,90.786782

### For now we have the Sales Dataset Properly cleaned and we can convert it into a new csv file and start performing analysis on it saperately.

In [40]:
df.to_csv(r'C:\*****\*****\********\Desktop\Retail Data Analysis\Data__Files\Sales__cleaned.csv')

In [ ]:
df.to_csv(r'C:\*****\*****\********\Desktop\Retail Data Analysis\Data__Files\Cancelled__orders.csv')