In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv(
                r'C:\Users\badri\OneDrive\Desktop\Retail Data Analysis\Data__Files\Sales__cleaned.csv',
                 index_col=0
                )
df.head(5)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Order Cancelled Flag,Revenue
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,Order Not Cancelled,83.4
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,Order Not Cancelled,81.0
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,Order Not Cancelled,81.0
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,Order Not Cancelled,100.8
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,Order Not Cancelled,30.0

In [3]:
df['Customer ID'] = df['Customer ID'].astype(str)

In [4]:
df.dtypes

Invoice                  object
StockCode                object
Description              object
Quantity                  int64
InvoiceDate              object
Price                   float64
Customer ID              object
Country                  object
Order Cancelled Flag     object
Revenue                 float64
dtype: object

In [5]:
df['Customer ID'] = df['Customer ID'].apply(lambda x: str(x).split('.')[0])

In [6]:
df.head(5)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Order Cancelled Flag,Revenue
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085,United Kingdom,Order Not Cancelled,83.4
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom,Order Not Cancelled,81.0
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,United Kingdom,Order Not Cancelled,81.0
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085,United Kingdom,Order Not Cancelled,100.8
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085,United Kingdom,Order Not Cancelled,30.0

In [12]:
df['Country'].replace({'RSA': 'South Africa',
                       'EIRE': 'Ireland'}, inplace=True)

In [13]:
df.groupby('Country').agg(TotalNumberOfOrdersPlace = ('Customer ID','count')).sort_values(by=['TotalNumberOfOrdersPlace'],ascending=False).reset_index()

                 Country  TotalNumberOfOrdersPlace
0         United Kingdom                    483727
1                Ireland                      9670
2                Germany                      8129
3                 France                      5772
4            Netherlands                      2769
5                  Spain                      1278
6            Switzerland                      1187
7               Portugal                      1101
8                Belgium                      1054
9        Channel Islands                       906
10                Sweden                       902
11                 Italy                       731
12             Australia                       654
13                Cyprus                       554
14               Austria                       537
15                Greece                       517
16  United Arab Emirates                       432
17               Denmark                       428
18                Norway                       369
19               Finland                       354
20           Unspecified                       310
21                   USA                       244
22                 Japan                       224
23                Poland                       194
24                 Malta                       172
25             Lithuania                       154
26             Singapore                       117
27          South Africa                       111
28               Bahrain                       107
29                Canada                        77
30             Hong Kong                        76
31              Thailand                        76
32                Israel                        74
33               Iceland                        71
34                 Korea                        63
35                Brazil                        62
36           West Indies                        54
37               Bermuda                        34
38               Nigeria                        32
39               Lebanon                        13

In [37]:
df.groupby('Country').agg(TotalNumberOf_Order=('Customer ID','count'),
                       AverageRevenuePer_Order = ('Revenue','mean')
                       ).round({'AverageRevenuePer_Order':0}). \
                    sort_values(by= ['TotalNumberOf_Order'], ascending=False)

                      TotalNumberOf_Order  AverageRevenuePer_Order
Country
United Kingdom                     483727                     17.0
Ireland                              9670                     36.0
Germany                              8129                     24.0
France                               5772                     23.0
Netherlands                          2769                     95.0
Spain                                1278                     29.0
Switzerland                          1187                     37.0
Portugal                             1101                     22.0
Belgium                              1054                     22.0
Channel Islands                       906                     24.0
Sweden                                902                     57.0
Italy                                 731                     19.0
Australia                             654                     46.0
Cyprus                                554                     20.0
Austria                               537                     24.0
Greece                                517                     28.0
United Arab Emirates                  432                     19.0
Denmark                               428                    110.0
Norway                                369                     11.0
Finland                               354                     20.0
Unspecified                           310                     16.0
USA                                   244                     19.0
Japan                                 224                     38.0
Poland                                194                     17.0
Malta                                 172                     16.0
Lithuania                             154                     32.0
Singapore                             117                     35.0
South Africa                          111                     21.0
Bahrain                               107                     22.0
Canada                                 77                     16.0
Hong Kong                              76                     52.0
Thailand                               76                     40.0
Israel                                 74                     43.0
Iceland                                71                     19.0
Korea                                  63                     15.0
Brazil                                 62                      4.0
West Indies                            54                     10.0
Bermuda                                34                     37.0
Nigeria                                32                     -0.0
Lebanon                                13                     13.0

In [39]:
df[df['Country'] == 'Nigeria']

df[df['Quantity'] < 0]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Order Cancelled Flag,Revenue
178,C489449,22087,PAPER BUNTING WHITE LACE,-12,2009-12-01 10:33:00,2.95,16321,Australia,Order Cancelled,-35.40
179,C489449,85206A,CREAM FELT EASTER EGG BASKET,-6,2009-12-01 10:33:00,1.65,16321,Australia,Order Cancelled,-9.90
180,C489449,21895,POTTING SHED SOW 'N' GROW SET,-4,2009-12-01 10:33:00,4.25,16321,Australia,Order Cancelled,-17.00
181,C489449,21896,POTTING SHED TWINE,-6,2009-12-01 10:33:00,2.10,16321,Australia,Order Cancelled,-12.60
182,C489449,22083,PAPER CHAIN KIT RETRO SPOT,-12,2009-12-01 10:33:00,2.95,16321,Australia,Order Cancelled,-35.40
...,...,...,...,...,...,...,...,...,...,...
524695,C538123,22956,36 FOIL HEART CAKE CASES,-2,2010-12-09 15:41:00,2.10,12605,Germany,Order Cancelled,-4.20
524696,C538124,M,Manual,-4,2010-12-09 15:43:00,0.50,15329,United Kingdom,Order Cancelled,-2.00
524697,C538124,22699,ROSES REGENCY TEACUP AND SAUCER,-1,2010-12-09 15:43:00,2.95,15329,United Kingdom,Order Cancelled,-2.95
524698,C538124,22423,REGENCY CAKESTAND 3 TIER,-1,2010-12-09 15:43:00,12.75,15329,United Kingdom,Order Cancelled,-12.75
525282,C538164,35004B,SET OF 3 BLACK FLYING DUCKS,-1,2010-12-09 17:32:00,1.95,14031,United Kingdom,Order Cancelled,-1.95

In [45]:
df_1 = pd.read_csv(
                     r'C:\Users\badri\OneDrive\Desktop\Retail Data Analysis\Data__Files\Cancelled__orders.csv'
                  )
df_1.shape

(523336, 11)